.mycalc{
    border:1px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: blue;
}

.all-btn{
    display: flex;
}


.all-btn-numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;

}


.all-btn-signs{
    display: flex;
    flex-direction: column;
}


.all-btn-numbers button{
  background-color: aliceblue;
  border: none;
  margin: 10px;
  color: red;
  font-size: 20px;
 border-radius: 50px;
 width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;   
}


.all-btn-signs button{
 background-color: rgb(71, 218, 35);
  border: none;
  margin: 10px;
  color: rgb(43, 15, 15);
  font-size: 25px;
 border-radius: 50px;
 width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center; 
 font-weight: 700;
}



.all-btn-signs button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px rgb(236, 230, 230) ;
}

.all-btn-numbers button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px rgb(236, 230, 230) ;
}


.btn-extra{
    display: flex;

}


.btn-extra button{
    background-color: rgb(7, 58, 41);
    color: antiquewhite;
}


.btn-extra button:hover{
    box-shadow: 0px 0px 40px 1px rgb(236, 230, 230) ;
}


.btn-clear-equals{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.btn-clear-equals button{
    width: 120px;
    font-size: 30px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: none;
}

#clear{
    color: brown;
    background-color: black;

}

#equals{
    color: coral;
    background-color: black;
}

#clear:hover , #equals:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}


input {
    width: 200px;
    margin: 10px 0px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    border: 1px solid wheat;
}

input:focus{
    outline: none;
    border: 2px solid rgb(27, 21, 21);
}